<template>
  <div class="container" style="background: url('images/Rectangle.jpg'); height: 100vh; -webkit-background-size: cover;
  background-size: cover; margin: 0; min-width: 100%">

    <transition name="fade">
      <router-view></router-view>
    </transition>

  </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity 0
    }
    .fade-enter, .fade-leave-active {
      opacity: 0;
    }
    .samsung-logo {
      cursor: pointer;
    }
</style>

<script>

    export default{
    }
</script>