<template>

	<div class="details-component">
		<div class="container" style="height: 50px;">
			
		</div>

		<div class="container tes" >
			<div style="display: block; margin: auto;">
				<img src="images/black-bg.png" alt="" style="position: absolute;
				width: 80%; left: 140px; height: 90vh">
			</div>
			<div style="display: block; margin: auto;">
				<div class="row row1" style="margin-left: 45px: width: 80%">
					<h2>Enter Your Details To Go In The Running To Win</h2>
				</div>
			</div>
			<div class="row row2" style=" color: #fff">
				<form   
				@submit.prevent="checkForm"
				>	    
				<div class="form-group2 col-md-12" style="display: inline-flex; text-align: center; ">
					<label for="name" class="control-label no-space-break" style="">Name</label>
					<input type="text" class="form-control" id="name" name="name" v-model="name" style=" padding-left: 0px;   margin-left: 10px; margin-top: -5px; padding-top: 20px; color: #fff" required>
				</div>

				<div class="form-group2 col-md-12" style="display: inline-flex; text-align: center; ">
					<label for="email" class="control-label no-space-break" style="">Email Address</label>
					<input type="email" class="form-control" id="email" name="email" v-model="email" style=" padding-left: 0px; margin-left: 10px; margin-top: -5px; padding-top: 20px; color: #fff" required>
				</div>

				<div class="form-group2 col-md-12" style="display: inline-flex; text-align: center; ">
					<label for="phone" class="control-label no-space-break" style="">Phone number</label>
					<input type="number" class="form-control" id="phone" name="phone" v-model="phone" style=" padding-left: 0px; margin-left: 10px; margin-top: -5px; padding-top: 20px; color: #fff" required>
				</div>

				<div class="form-group2 col-md-12" style="display: inline-flex; text-align: center; ">
					<label for="company" class="control-label no-space-break" style="">Company</label>
					<input type="text" class="form-control" id="company" name="company" v-model="company" style=" padding-left: 0px; margin-left: 10px; margin-top: -5px; padding-top: 20px; color: #fff" required>
				</div>

				<div class="form-group2 col-md-12" style="display: inline-flex; text-align: center; ">
					<label for="position" class="control-label no-space-break" style="">Position</label>
					<input type="text" class="form-control" id="position" name="position" v-model="position" style=" padding-left: 0px; margin-left: 10px; margin-top: -5px; padding-top: 20px; color: #fff" required>
				</div>

				<div class="form-group sub" style="text-align: center;    z-index: 5;">
					<input type="checkbox" id="2" name="subscribe" v-model="subscribe" class="radio" v-on:click="check('1',$event)">
					<label for="2"><p class="label-name" style="font-family: CustomFont;
						font-size: 24px;
						line-height: 92.2%;">Receive more information about Samsung Products</p></label>
					</div>

					<div class="form-group2 col-md-12 subbtn" style="text-align: center; ">

						<button type="submit" class="btn btn-primary btn-lg submit-btn" >Submit</button>
						<input type="hidden" id="team" name="team" v-model="team">
						<input type="hidden" id="q1" name="q1" v-model="q1">
						<input type="hidden" id="q2" name="q2" v-model="q2">
						<input type="hidden" id="q3" name="q3" v-model="q3">
						<input type="hidden" id="q4" name="q4" v-model="q4">
						<input type="hidden" id="q5" name="q5" v-model="q5">
						<input type="hidden" id="q6" name="q6" v-model="q6">
						<input type="hidden" id="sub" name="sub" v-model="sub">
					</div>
					<p style="color: red; text-align: center;" v-if="errors.length">
						<b>Please correct the following error(s):</b>
						<ul>
							<li v-for="error in errors" style="list-style-type: none">{{ error }}</li>
						</ul>
					</p>
				</form>	

				<div class="back" @click="back">Back</div>	
			</div>



		</div>




		<div class="samsung-logo fixed-bottom" @click="gohome" style="margin-bottom: 20px; margin-right: 300px;">
			<img src="images/samsung-logo.png" alt="Samsung logo">
		</div>

	</div>



</template>

<script>
export default {
	mounted() {
		console.log('Component mounted.')
	},
	data() {
		return {
			name: null,
			email: null,
			company: null,
			phone: null,
			position: null,
			subscribe: 0,
			errors: [],
			complete: true,
			submitted: {
				name: '',
				email: '',
				phone: '',
				company: '',
				position: ''
			},
			team: this.$route.query.team,
			q1: this.$route.query.q1,
			q2: this.$route.query.q2,
			q3: this.$route.query.q3,
			q4: this.$route.query.q4,
			q5: this.$route.query.q5,
			q6: this.$route.query.q6,
			sub: 'no'
		}
	},
	methods: {
		back() {
			this.$router.push('/question6?team='+this.team+'&q1='+this.q1+'&q2='+this.q2+'&q3='+this.q3+'&q4='+this.q4+'&q5='+this.q5+'&q6='+this.q6);
		},
		check(value, event) {
			if (event.target.checked) {
				this.subscribe = 1;
				this.sub = "yes";
			} else {
				this.subscribe = 0;
				this.sub = "no";
			}
		},
		checkForm: function (e) {
			this.errors = [];

			if (!this.name) {
				this.errors.push("Name required.");
			}

			if (!this.email) {
				this.errors.push('Email required.');
			} else if (!this.validEmail(this.email)) {
				this.errors.push('Valid email required.');
			}

			if (!this.errors.length) {

				var fields = ['name','email','phone','company','position','sub','team','q1','q2','q3','q4','q5','q6'];
				var row = '';
				var i;

				for(i=0; i < fields.length; ++i) {
					var field = fields[i];
					var value = $('#'+field).val();       
					    // Validate Field
					    if(!value) {
					    	if(field != 'message') {
					    		//this.complete = false;
					    	}
					    } else {            
							// Sheet Data
							row += '"'+value+'",';
						}
				}

			    // Submission
			    if(this.complete) {		
					// Clean Row
					row = row.slice(0, -1);		
			        // Config
			        var gs_sid = '1_4JX_sK6S1nsXr7-4r6EWaYStmgsgjN0JYt-5Gt_0ac'; // Enter your Google Sheet ID here
			        var gs_clid = '680888018663-t1m25b32v4mrgr5m8ae9fnbmsu2nbikl.apps.googleusercontent.com'; // Enter your API Client ID here
			        var gs_clis = '6_IaTgcjI59D5v6Liuls316Y'; // Enter your API Client Secret here
			        var gs_rtok = '1/ZYxagH-VWF59PbknBy_p5NX4wrJI0FT6Pz_Swu86_tY'; // Enter your OAuth Refresh Token here
			        var gs_atok = false;
			        var gs_url = 'https://sheets.googleapis.com/v4/spreadsheets/'+gs_sid+'/values/A1:append?includeValuesInResponse=false&insertDataOption=INSERT_ROWS&responseDateTimeRenderOption=SERIAL_NUMBER&responseValueRenderOption=FORMATTED_VALUE&valueInputOption=USER_ENTERED';
			        var gs_body = '{"majorDimension":"ROWS", "values":[['+row+']]}';        
			         // HTTP Request Token Refresh
			         var xhr = new XMLHttpRequest();
			         xhr.open('POST', 'https://www.googleapis.com/oauth2/v4/token?client_id='+gs_clid+'&client_secret='+gs_clis+'&refresh_token='+gs_rtok+'&grant_type=refresh_token');
			         xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			         xhr.onload = function() {            
			         	var response = JSON.parse(xhr.responseText);
			         	var gs_atok = response.access_token;            
						// HTTP Request Append Data
						if(gs_atok) {
							e.target.reset();

							var xxhr = new XMLHttpRequest();
							xxhr.open('POST', gs_url);
							xxhr.setRequestHeader('Content-length', gs_body.length);
							xxhr.setRequestHeader('Content-type', 'application/json');
							xxhr.setRequestHeader('Authorization', 'OAuth ' + gs_atok );
							xxhr.onload = function() {
								if(xxhr.status == 200) {
									// Success
									$('#message').html('<p>Row Added to Sheet : Response:<br/>'+xxhr.responseText+'</p>');

								} else {
									// Fail
									this.errors.push(xxhr.responseText);
								}
							};
							xxhr.send(gs_body);
						}            
					};
					xhr.send();
					this.$router.push('/thankyou');
				}

			}

		},
		validEmail: function (email) {
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		},
		resetForm() {
			console.log('Reseting the form')
	        var self = this; //you need this because *this* will refer to Object.keys below`

	        //Iterate through each object field, key is name of the object field`
	        Object.keys(this.data.form).forEach(function(key,index) {
	        	self.data.form[key] = '';
	        });
	    },
    	gohome() {
    		this.$router.push('/');
    	}

	}
}

	</script>
	<style>

<<<<<<< HEAD
.backtohome a {
	text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.backtohome {
	font-family: 'CustomFont'; 
	font-size: 20px; 
	position: relative; 
	left: 25%; 
	float: left; 
	color: #fff; 
	line-height: 92.2%;
	margin-top: 10px;
}

=======
>>>>>>> parent of 67e216b... add back to all screen
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

 	.row h2 {
 		margin-top: 70px;
 	}

}


.submit-btn {
		color: #091832; background-color: #fff ; border-color: #fff !important;    background: #FFFFFF;
		border-radius: 100px;
		font-family: CustomFont;
		color: red;
		font-size: 35px;
		line-height: 92.2%; text-transform: uppercase
}
.back {
	color: #fff;
    font-family: CustomFont;
    font-size: 36px;
    line-height: 92.2%;
    margin-top: -40px;
    cursor: pointer;
    z-index: 6;
}
.next {

}

.back:hover {
	color: #ff0000;
	cursor: pointer;
}
.back:focus {
	color: #ff0000;
	cursor: pointer;
}
.next:hover {
	color: #ff0000;
	cursor: pointer;
}
.next:focus {
	color: #ff0000;
	cursor: pointer;
}
.subbtn {
	margin-left: 100px;
    padding-right: 200px;
}
@media screen and (min-width: 1880px){
	.subbtn {
		margin-left: 0px !important;
	    padding-right: 0px !important;
	}
	.form-group2 {
		margin-bottom: 20px;
	}

	.row1 h2 {
		font-size: 64px !important;
	}

	.tes .row1 {
		width: 80% !important;
		top: 50px !important;
	}

	.tes .row2 {
		width: 100% !important;
		top: 50px !important;
	}

	.no-space-break{
		white-space:nowrap;
		font-family: CustomFont;
		font-size: 25px;
		line-height: 92.2%;
	}

	.submit-btn {
		color: #091832; background-color: #fff ; border-color: #fff !important;    background: #FFFFFF;
		border-radius: 100px;
		font-family: CustomFont;
		color: red;
		font-size: 48px;
		line-height: 92.2%; text-transform: uppercase
	}

	.back {
		margin-top: 50px !important;
	}

	.sub {
		margin-top: 15px;
		padding-left: 100px;
	}

}

	.form-group {
		display: block;
		margin-bottom: 15px;
	}

	.form-group input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;
	}

	.form-group label {
		position: relative;
		cursor: pointer;
	}

	.form-group label p {
		display: inline-block;
		margin-left: 30px;

	}
	.form-group label:before {
		content:'';
		-webkit-appearance: none;
		background-color: transparent;
		border: 2px solid #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
		padding: 10px;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		cursor: pointer;
		margin-right: 5px;
	}

	.form-group input:checked + label:after {
		content: '';
		display: block;
		position: absolute;
		top: 6px;
		left: 9px;
		width: 8px;
		height: 15px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
	.submit-btn:hover,
	.submit-btn:focus{
		color: #aaa !important;
	}

	.form-group2 {
		margin-bottom: 15px;
	}
	.no-space-break{
		white-space:nowrap;
		font-family: CustomFont;
		font-size: 30px;
		line-height: 92.2%;
	}
	input[type="text"],
	select.form-control {
		background: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}
	input[type="number"],
	select.form-control {
		background: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}
	input[type="text"]:focus,
	select.form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
	}
	input[type="email"],
	select.form-control {
		background: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}

	input[type="email"]:focus,
	select.form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
	}

	input[type="number"]:focus,
	select.form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
	}
	.samsung-logo {
		text-align: right;
	}

	.samsung-logo img {

		width: 137px;
		height: 18px;
	}


	.tes .row2 {
		display: block;
		margin: 0 auto;
		position: relative;
		top: -10px;
		width: 80%;
		z-index: 2;   
		padding-right: 50px;
		padding-bottom: 50px;


	}

	.tes .row1 {
		display: block;
		margin: auto;
		position: relative;
		top: 20px;
		width: 60%;
		text-align: center;
		z-index: 2;   
		padding-right: 50px;
		padding-top: 50px;    padding-bottom: 50px;


	}

	.row1 h2 {
		color: #fff;
		font-family: CustomFont;
		font-size: 50px;
		line-height: 92.2%;
	}



	.team-component {
		height: 80vh;

	}

	.bg-overlay {
		height: 140px;
	}



	</style>