<template>
    <div @click="tap" style="display: block; height: 100vh;">
      <div class="home-component" style="width: 70%; margin: 0 auto">
        <div class="jumbotron">
            <img src="images/afl.png" alt="logo">
        </div>
        <div class="heading-container2">
          <div class="heading2">enter for free for your chance to win 2 tickets!</div>
        </div>
        <div class="samsung-logo2">
          <img src="images/samsung-logo.png" alt="Samsung logo">
        </div>
        <div class="fixed-bottom">

        
        <div class="taptostart">tap anywhere to start</div>
        </div>
        
      </div>
    </div>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
          tap() {
            this.$router.push('/team');
          }
        }
    }
</script>
<style>

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: none;
  text-decoration: none;
}

a:active {
  color: blue;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .heading2 {
    font-size: 180px !important;
  }
  .taptostart {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 38px !important;
    line-height: 92.2%;
    color: #FFFFFF;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .samsung-logo2 img {
    width: 330px !important;
  }
  .jumbotron img {
    width: 60% !important;
  }
  .heading-container2 {
    margin-top: 0px;
  }
  .samsung-logo2 {
    margin-top: 40px;
  }


}

    @media screen and (min-width: 748px){
      .heading2 {
          font-family: CustomFont;
          font-size: 80px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }


    @media screen and (max-width: 1000px){
      .heading2 {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }


    @media screen and (min-width: 1420px){
      .heading2 {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }

    @media screen and (min-width: 1180px){
      .heading2 {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }

    @media screen and (min-width: 1260px){
      .heading2 {
          font-family: CustomFont;
          font-size: 80px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }

    @media screen and (min-width: 1660px){
      .heading2 {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }


    .jumbotron {
      text-align: center;
      background-color: transparent;
      margin-bottom: 0px;
    }
    .heading-container2 {
      width: 100%;
    }
    .heading2 {
      font-family: CustomFont;
      font-size: 90px;
      line-height: 92.2%;

      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }
    .samsung-logo2{
      text-align: center;
    }
    .samsung-logo2 img {
      width: 180px;
    }
    .taptostart {
      text-align: center;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 92.2%;
      color: #FFFFFF;
      letter-spacing: 0.22em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1880px){
      .heading2 {
          font-family: CustomFont;
          font-size: 120px;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .heading-container2 {
        margin-top: -20px;
      }
      .samsung-logo2 {
        margin-top: 40px;
      }
    }


    @media (max-width: 767.98px) { 
      .heading2 {
        font-family: CustomFont;
        font-size: 70px;
        line-height: 92.2%;

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
      }
      .samsung-logo2 img {
        width: 130px;
      }
      .jumbotron img {
        width: 90%;
      }
    }
</style>