<template>
  <div class="question1-component">
	<div class="container bg-overlay2">
		
	</div>

    <div class="container tes" >
    		<div style=""><img src="images/black-bg.png" alt="" style="position: absolute;
      width: 80%; left: 140px;"></div>
		  <div class="row" style="margin-left: 45px">
		    <h2>Which player has the MOST AFL Grand Final appearances (11)?</h2>
		  </div>
		  <div class="row" style="margin-left: 45px">
		    <div class="col-md-6 choice" >
			    <div class="form-group">
			      <input type="radio" id="1" name="choices" value="a" v-model="choices" class="radio" v-on:click="check('a',$event)" :checked="checkedData">
			      <label for="1"><p class="label-name">A. Michael Tuck</p></label>
			    </div>
			    <div class="form-group">
			      <input type="radio" id="2" name="choices" value="b" v-model="choices" class="radio" v-on:click="check('b',$event)">
			      <label for="2"><p class="label-name">B. Kevin Bartlett</p></label>
			    </div>
			    <div class="back" style="margin-top: 50px; width: 300px;" @click="back">Back</div>

		    </div>
		   	<div class="col-md-6 choice" >
			    <div class="form-group">
			      <input type="radio" id="3" name="choices" value="c" v-model="choices" class="radio" v-on:click="check('c',$event)">
			      <label for="3"><p class="label-name">C. Gordon Conventry</p></label>
			    </div>
			    <div class="form-group">
			      <input type="radio" id="4" name="choices" value="d" v-model="choices" class="radio" v-on:click="check('d',$event)">
			      <label for="4"><p class="label-name">D. Lou Richards</p></label>
			    </div>
			    <div class="next" style="margin-top: 50px;" @click="next">Next</div>

		    </div>

		  </div>

    </div>

    <div class="samsung-logo fixed-bottom" @click="gohome" style="margin-bottom: 20px;
    margin-right: 300px;">
      <img src="images/samsung-logo.png" alt="Samsung logo">
    </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log(this.$route.query)
        },
		data() {
			return {
				isPicked: false,
				red: 'color: #DC011F',
				white: 'color: #FFFFFF',
				color: 'color: #fff',
				team: this.$route.query.team,
				choices: this.$route.query.q1,
				q1: null,
				hasValue: false,
				checkedData: true
			}
		},
		methods: {
			check(value, event) {
				if (event.target.checked) {
					this.q1 = value;
					this.hasValue = true;
				}
			},
			back() {
				this.$router.push('/team');	
			},
			next() {
				if (this.hasValue) {
					this.$router.push('/question2?team='+this.team+'&q1='+this.q1);
				} else if(this.choices !== null && this.choices !== undefined) {
					this.$router.push('/question2?team='+this.team+'&q1='+this.choices);
				}
			},
        	gohome() {
        		this.$router.push('/');
        	}
    	}
	}

</script>
<style>

<<<<<<< HEAD
.backtohome a {
	text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.backtohome {
	font-family: 'CustomFont'; 
	font-size: 20px; 
	position: relative; 
	left: 25%; 
	float: left; 
	color: #fff; 
	line-height: 92.2%;
	margin-top: 10px;
}

=======
>>>>>>> parent of 67e216b... add back to all screen
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

 	.row h2 {
 		margin-top: 70px;
 	}

}



@media screen and (min-width: 1880px){

	.row h2 {
		color: #fff;
		font-family: CustomFont;
		font-size: 60px !important;
		line-height: 92.2%;
	}

	.tes .row {
	    padding-left: 0px !important;
	    padding-top: 20px;
	}

	.next, .back {
		margin-top: 150px !important;
	}

}


.back {

}
.next {
	
}

.back:hover {
	color: #ff0000;
	cursor: pointer;
}
.back:focus {
	color: #ff0000;
	cursor: pointer;
}
.next:hover {
	color: #ff0000;
	cursor: pointer;
}
.next:focus {
	color: #ff0000;
	cursor: pointer;
}

.samsung-logo {
	text-align: right;
}

.samsung-logo img {
    width: 137px;
    height: 18px;
}
.form-group input.radio:checked + label > .label-name {
    color: #ff0000;
}

label:hover {
    color: #ff0000;
}

label:focus {
    color: #ff0000;
}

.tes .row {
	position: relative;
    top: 80px;
    width: 100%;
    z-index: 2;   
  	padding-right: 50px;
    padding-left: 100px;    
    padding-bottom: 50px;
}

.row h2 {
	color: #fff;
	font-family: CustomFont;
	font-size: 48px;
	line-height: 92.2%;
}

.row .choice {
	color: #fff;
	font-family: CustomFont;
	font-size: 36px;
	line-height: 92.2%;
}

	.team-component {
		height: 80vh;

	}
	.heading-container {
		text-align: center;
		padding: 50px;
	}
	.heading {
		font-family: CustomFont;
		font-size: 64px;
		line-height: 92.2%;
		color: #fff;
		text-transform: uppercase;
		z-index: 9999;
	}

	.bg-overlay2 {

	    height: 140px;
	}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label p {
	    display: inline-block;
    margin-left: 30px;

}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
top: 6px;
    left: 9px;
    width: 8px;
    height: 15px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

</style>