<template>
  <div class="team-component">
	<div class="container bg-overlay">
		<div class="heading">choose your team to enter</div>
	</div>

    <div class="container test" >
    		<div style=""><img src="images/team-bg.png" alt="" style="position: absolute;
      width: 80%; left: 140px;" class="bgimage"></div>
		  <div class="row" >
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(1)" ><div @click="chooseteam(1)"><img @click="chooseteam(1)" src="images/teams/1200px-Brisbane_Lions_logo_2010.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(2)"  ><div @click="chooseteam(2)"><img @click="chooseteam(2)" src="images/teams/1200px-Carlton_FC_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(3)"  ><div @click="chooseteam(3)"><img @click="chooseteam(3)" src="images/teams/1200px-Collingwood_Football_Club_Logo_(2017–present).png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(4)"  ><div @click="chooseteam(4)"><img @click="chooseteam(4)" src="images/teams/1200px-Fremantle_FC_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(5)"  ><div @click="chooseteam(5)"><img @click="chooseteam(5)" src="images/teams/1200px-Geelong_Cats_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(6)"  ><div @click="chooseteam(6)"><img @click="chooseteam(6)" src="images/teams/1200px-Gold_Coast_Suns_logo.png" alt=""></div></div>
		  </div>
		  <div class="row">
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(7)"  ><div @click="chooseteam(7)"><img @click="chooseteam(7)" src="images/teams/1200px-GWS_Giants_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(8)"  ><div @click="chooseteam(8)"><img @click="chooseteam(8)" src="images/teams/1200px-Melbournefc.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(9)"  ><div @click="chooseteam(9)"><img @click="chooseteam(9)" src="images/teams/1200px-North_Melbourne_FC_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(10)"  ><div @click="chooseteam(10)"><img @click="chooseteam(10)" src="images/teams/1200px-St_Kilda_FC_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(11)"  ><div @click="chooseteam(11)"><img @click="chooseteam(11)" src="images/teams/1200px-Sydney_Swans_Logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(12)"  ><div @click="chooseteam(12)"><img @click="chooseteam(12)" src="images/teams/1200px-West_Coast_Eagles_logo_2017.png" alt=""></div></div>
		  </div>
		  <div class="row" style="padding-bottom: 40px">
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(13)"  ><div @click="chooseteam(13)"><img @click="chooseteam(13)" src="images/teams/1200px-Western_Bulldogs_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(14)"  ><div @click="chooseteam(14)"><img @click="chooseteam(14)" src="images/teams/essendon.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(15)"  ><div @click="chooseteam(15)"><img @click="chooseteam(15)" src="images/teams/NGA Logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(16)"  ><div @click="chooseteam(16)"><img @click="chooseteam(16)" src="images/teams/Port_Adelaide_Power_logo_black.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(17)"  ><div @click="chooseteam(17)"><img @click="chooseteam(17)" src="images/teams/Prospect_hawks_logo.png" alt=""></div></div>
		    <div class="col-md-2 col-sm-4 col-xs-6 teaml" @click="chooseteam(18)"  ><div @click="chooseteam(18)"><img @click="chooseteam(18)" src="images/teams/Richmond_Tigers_logo_transparent_bg.png" alt=""></div></div>
		  </div>

    </div>

    <div class="samsung-logo fixed-bottom" @click="gohome" style="margin-bottom: 20px; margin-right: 300px;">
      <img src="images/samsung-logo.png" alt="Samsung logo">
    </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
        	chooseteam(val) {
        		this.$router.push('question1?team='+val);
        	},
        	gohome() {
        		this.$router.push('/');
        	}
        }
    }
</script>
<style>

<<<<<<< HEAD
.backtohome a {
	text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.backtohome {
	font-family: 'CustomFont'; 
	font-size: 20px; 
	position: relative; 
	left: 25%; 
	float: left; 
	color: #fff; 
	line-height: 92.2%;
	margin-top: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

 	.backtohome {
 		left: 10% !important;
 		font-size: 25px !important; 
 	}

}



=======
>>>>>>> parent of 67e216b... add back to all screen
@media screen and (min-width: 1880px){

	.test .row {
		top: 100px !important;
		padding-right: 0px !important;
     	padding-left: 0px !important;
	}

}


.test .row {
position: relative;
   
    top: 50px;
    width: 100%;
    z-index: 2;   
  padding-right: 50px;
    padding-left: 100px;    padding-bottom: 50px;

  
}
	.team-component {
		height: 80vh;

	}
	.heading-container {
		text-align: center;
		padding: 50px;
	}
	.heading {
		font-family: CustomFont;
		font-size: 64px;
		line-height: 92.2%;
		color: #fff;
		text-transform: uppercase;
		z-index: 9999;
	}

	.bg-overlay {
	    background: url("/images/Vector.png");
	    background-repeat: no-repeat;
	    color: #fff;
	    padding-top: 50px;
	    height: 140px;
	    width: 100%;
	    text-align: center;
	    background-position: center center;
	}

	.team-bg {
		background: url("/images/team-bg.png");
	    margin-left: 80px;
	    
	    background-size: contain;
	    background-repeat: no-repeat;
	    
	}

	.team-bg .row {
		padding: 60px 60px 0px 60px;
		margin-right: 80px;
		margin-left: 80px;
	}

	.teaml {
		align-items: center;
	    display: flex;
	    text-align: center;

	}



	.teamlogo img{
		width: 70%;
	}

	.samsung-logo {
		text-align: right;
	}

	.samsung-logo img {

	    width: 137px;
	    height: 18px;
	}

	.teaml:hover img {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}


	.teaml img {
		width: 70%;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}



</style>