<template>
  <div class="home-component">
    <div class="jumbotron">
        <img src="images/afl.png" alt="logo">
    </div>
    <div class="heading-container">
      <div class="heading">Good luck! Thank you for entering!</div>
      <div class="subheading">DRAW DATE FRIDAY 30TH AUGUST</div>
    </div>
    <div class="samsung-logo2">
      <img src="images/samsung-logo.png" alt="Samsung logo">
    </div>

      <div class="fixed-bottom">
<!--         <div class="home"><img src="images/home.png" @click="gohome" alt="home">
          <p class="countdown">6</p>
        <div class="spinner-border" style="width: 3rem; height: 3rem; " role="status">

          <span class="sr-only">Loading...</span>
        </div>

        </div> -->

      <div class="row" style="text-align: center; margin-bottom: 50px; ">
        <div class="col-sm-6" style="text-align: right; "><img src="images/home.png" @click="gohome" alt="home"></div>
        <div class="col-sm-6" style="text-align: left; display: flex; align-items: center;"><p class="countdown" id="seconds"></p><div class="spinner-border" style="width: 3.5rem; height: 3.5rem; " role="status">

          <span class="sr-only">Loading...</span>
        </div></div>
      </div>



      </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
var timeleft = 9;
          return {
           
          }
        },
       created(){
          this.startCountdown();
       },
        methods: {
          gohome() {
            this.$router.push('/');
          },
          startCountdown: function () {

            var timeleft = 9;
            var downloadTimer = setInterval(function(){
              document.getElementById("seconds").innerHTML = timeleft;
              timeleft -= 1;
              if (timeleft <= 5) {
                var num = timeleft + 1;
                document.getElementById("seconds").innerHTML = "<span style='color: red;'>"+num+"</span>";
              }
              if(timeleft <= 0){
                clearInterval(downloadTimer);
                window.location.href = "/";
              }

            }, 100000);


          },

        }
    }
</script>
<style>

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 1/2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

      .home {
            text-align: center;
            margin-bottom: 30px;
      }
      .spinner-border {
        color: #fff !important;
        animation: spinner-border 3s linear infinite !important;
        width: 4rem !important;
        height: 4rem !important;
            margin: -18px;
      }

    .home img {
        margin-bottom: 40px;
        margin-right: 100px !important;
        width: 100px;
        z-index: 2 !important;

    }
    .countdown {
      position: absolute;
      text-align: center;
      left: 25px !important;
      top: 27%;
      color: #fff;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px !important;
    }

    .heading {
      font-size: 180px !important;
    }
    .subheading {
      font-size: 100px !important;
    }


  .samsung-logo2 img {
    width: 330px !important;
  }

}



    @media screen and (min-width: 1880px){
      .home {
            text-align: center;
            margin-bottom: 30px;
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
      }
      .spinner-border {
        color: #fff !important;
        animation: spinner-border 3s linear infinite !important;
      }

      .countdown {
        position: absolute;
        text-align: center;
        left: 38px;
        top: 27%;
        color: #fff;
        color: #fff; font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;

      }

      .home img:hover {
        width: 105px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    }

.countdown {

}


    .jumbotron {
      text-align: center;
      background-color: transparent;
      margin-bottom: 0px;
    }
    .heading-container {
      width: 80%;
      margin: 0 auto;
      margin-top: -30px;
    }
    .heading {
      font-family: CustomFont;
      font-size: 92px;
      line-height: 92.2%;

      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }
    .subheading {
      font-size: 64px;
      font-family: CustomFont;
      line-height: 92.2%;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .samsung-logo2{
      text-align: center;
      margin-top: 50px;
    }
    .samsung-logo2 img {
      width: 180px;
    }
    .taptostart {
      text-align: center;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 92.2%;
      color: #FFFFFF;
      letter-spacing: 0.22em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

.home {
      text-align: center;
      margin-bottom: 30px;
}
.home img {
    margin-bottom: 40px;
    margin-right: 50px;
}


    @media (max-width: 767.98px) { 
      .heading {
        font-family: CustomFont;
        font-size: 70px;
        line-height: 92.2%;

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
      }
      .samsung-logo img {
        width: 130px;
      }
      .jumbotron img {
        width: 90%;
      }
    }



    @media screen and (min-width: 748px){
      .heading {
          font-family: CustomFont;
          font-size: 80px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 50px !important;
      }
    }


    @media screen and (max-width: 1000px){
      .heading {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 60px !important;
      }
    }


    @media screen and (min-width: 1420px){
      .heading {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 80px !important;
      }
    }

    @media screen and (min-width: 1180px){
      .heading {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 60px !important;
      }
    }

    @media screen and (min-width: 1260px){
      .heading {
          font-family: CustomFont;
          font-size: 80px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 60px !important;
      }
    }

    @media screen and (min-width: 1660px){
      .heading {
          font-family: CustomFont;
          font-size: 120px !important;
          line-height: 92.2%;

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
      }
      .subheading {
        font-size: 90px !important;
      }
    }





</style>